{
  "extends": "stylelint-config-standard",
  "rules": {
    "declaration-no-important": true,
    "color-function-notation": "legacy",
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind"
        ]
      }
    ]
  }
}