{
  "extends": "stylelint-config-standard",
  "rules": {
    "declaration-no-important": true,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["tailwind"]
      }
    ]
  }
}
